<article class="order-item">
    <header class="order-summary">
        <h2><span class="order-total-price">$<%= order.productData.totalPrice.toFixed(2) %></span> - <span class="order-date"> <%= order.formattedDate %> <span> </h2>
        <p><span class="badge"><%= order.status.toUpperCase() %></span></p>
    </header>
    <% if(locals.isAdmin){ %>
        <address class="user-details">
            <p><a href="mailto:<%= order.userData.email %>"><%= order.userData.name %></a></p>
            <p>Street: <%= order.userData.address.street %> <span class="address-bold">(<%= order.userData.address.postalCode %> <%= order.userData.address.city %>)</span></p>
        </address>
        <% } %>
    <section class="order-details">
        <ol>
            <% for (const item of order.productData.items){ %>
                <li class="product-details">
                    <p><%= item.product.title %> - <span>$<%= item.totalPrice.toFixed(2) %></span> <span>($<%= item.product.price %> X <%= item.quantity %>)</span></p>
                </li>
            <% } %>
        </ol>
    </section>

    <% if(locals.isAdmin){ %>
    <section class="order-actions">
        <form>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <input type="hidden" name="orderid" value="<%= order.id %>"> 
            <select name="status">
                <option value="pending" <% if(order.status === "pending") {%> selected <% } %>>Pending</option>
                <option value="fulfilled" <% if(order.status === "fulfilled") {%> selected <% } %>>Fulfilled</option>
                <option value="cancelled" <% if(order.status === "cancelled") {%> selected <% } %>>Cancelled</option>
            </select>
            <button class="btn alt-btn">Update</button>
        </form>
    </section>
    <% } %>
</article>