<article class="cart-item">
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>$ <span class="cart-item-price"> <%= item.totalPrice.toFixed(2)  %></span> <span class="cart-product-price">($<%= item.product.price %>)</span></p>
  </div>
  <form class="cart-item-management" data-productid="<%= item.product._id %>" data-csrf="<%= locals.csrfToken %>">
    <input type="number" min="0" name="quantity" value="<%= item.quantity %>"/>
    <button class="btn btn-alt" >Update</button>
  </form>
</article>
 