<%- include("../../shared/includes/head",{pageTitle:"Manage Products"}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/product-management.js" defer></script>
</head>
<body> 
    <%- include("../../shared/includes/header") %>
    <main>
        <section>
            <h2>Manage Products</h2>
            <p><a href="/admin/products/new" class="btn">Add Product</a></p>
        </section>
        <section>
            <h2>Products (<%= products.length %>)</h2>
            <ul id="products-grid">
                <% for(const product of products) {%>
                <li>
                    <%- include("../../shared/includes/product-item", {product:product}) %>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
    <%- include("../../shared/includes/footer") %>
